<mat-card class="card">
  <mat-card-title>NgModel</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Food" [(ngModel)]="food">
    </mat-form-field>
    <div>
      <button mat-stroked-button color="primary" (click)="submitFood()">Submit</button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-title>FormControl</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Favorite color</mat-label>
      <input matInput placeholder="color" [formControl]="color">
    </mat-form-field>
    <div>
      <button mat-stroked-button color="primary" (click)="submitColor()">Submit</button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-title>Form Group</mat-card-title>
  <mat-card-content>
    <form [formGroup]="profileForm">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error>A name is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error>The email is not input correctly</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select formControlName="state">
          <mat-option *ngFor="let state of STATES" [value]="state">
            This is {{state}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <div>
      <button mat-stroked-button
              color="primary"
              [disabled]="profileForm.invalid"
              (click)="submitProfile()">
        Submit
      </button>
    </div>
  </mat-card-content>
</mat-card>